<table>
	<tbody>
		<tr>
			<td>Username</td>
			<td><input name="username"/></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input name="password"/></td>
		</tr>
		<tr>
			<td>Retype password</td>
			<td><input name="retype"/></td>
		</tr>
	</thead>
</table>	